<% if (item.link){ %>
  <% if (item.title){ %>
    <h2 class="title_link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a>
        <small>
            <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
        </small>
    </h2>
  <% } else { %>
    <h2 class="title_link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a>
        <small>
            <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
        </small>
    </h2>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h2 class="title_link"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a>
        <small>
            <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
        </small>
    </h2>
  <% } else { %>
    <h2 class="title"><%= item.title %>
        <small>
            <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
        </small>
    </h2>
  <% } %>
<% } %>
