<div class="alignleft">
  <% if (config.author){ %>
	  <%= new Date().getFullYear() %> &copy; <%= config.author %>,
  <% } else { %>
	  <%= new Date().getFullYear() %> &copy; <%= config.title %>,
  <% } %>
  All rights reserved. Powered by <%- link_to("http://zespia.tw/hexo/", "Hexo") %>. Hosted on <%- link_to("https://github.com/HugoFeng/hugofeng.github.io", "GitHub") %>.
</div>
<div class="clearfix"></div>
